body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.text-center{
  text-align: center;
}

.conceitos{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}
.conceito{
  flex:1;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #2a65b9;
  font-size: 1.3em;
  font-weight: bold;
  color: wheat;
}
.conceito:hover{
  background-color:#6fa8f9;
}
.votacaoHeader{
  padding: 20px 40px;
  background-color: teal;
}
.votacaoHeader h1{
  color: white;
}